@model ToDo.Models.User_lw9_02

@{
    ViewData["Title"] = "Авторизация";
}

<div class="text-center padd">
    <h1 class="display-4 mb-4">Авторизация</h1>

    @* Проверяем наличие сообщения об ошибке и отображаем его *@
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <form asp-area="" asp-controller="Account" asp-action="Login" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="Введите Email" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="control-label">Пароль</label>
                                <input type="password" asp-for="Password" class="form-control" placeholder="Введите пароль" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center" style="margin-top: 15px">
                                <input type="submit" value="Войти" class="btn btn-primary btn-lg" />
                            </div>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <p>Нет аккаунта? <a asp-controller="Account" asp-action="Register">Зарегистрироваться</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
