@{
    ViewData["Title"] = "Соглашение";
}
<h1>@ViewData["Title"]</h1>


<p>Настоящее Пользовательское соглашение ("Соглашение") регулирует отношения между пользователем ("Пользователь") и владельцем сервиса ToDo ("Владелец").</p>

<h2>1. Общие положения</h2>
<ul>
    <li>Сервис ToDo предоставляется на условиях настоящего Соглашения.</li>
    <li>Владелец оставляет за собой право изменять условия использования сервиса без предварительного уведомления.</li>
</ul>

<h2>2. Права и обязанности Пользователя</h2>
<ul>
    <li>Пользователь обязуется соблюдать законодательство Российской Федерации и международное право.</li>
    <li>Пользователь не имеет права на продажу, передачу или уступку своих прав и обязанностей по настоящему Соглашению.</li>
</ul>

<h2>3. Использование сервиса</h2>
<ul>
    <li>Пользователь обязуется использовать сервис в соответствии с его назначением.</li>
    <li>Пользователь не имеет права на использование сервиса для распространения порнографии, терроризма или других незаконных действий.</li>
</ul>

<h2>4. Ограничение ответственности</h2>
<p>Владелец не несет ответственности за любые прямые или косвенные убытки, возникшие в результате использования сервиса.</p>

<h2>5. Законодательство и разрешение споров</h2>
<p>Настоящее Соглашение регулируется законодательством Российской Федерации.</p>

<h2>6. Вступление в силу и расторжение</h2>
<p>Настоящее Соглашение вступает в силу с момента регистрации Пользователя на сайте сервиса.</p>

<h2>7. Дополнительная информация</h2>
<p>Вся информация, размещенная на сайте сервиса, является собственностью Владельца.</p>

<p>Пользователь подтверждает, что он ознакомился с настоящим Соглашением и согласен с его условиями.</p>

<p>Дата последнего обновления: 12 декабря 2024 года</p>

